.ticket_system {
    max-width: 550px;

    .top {
        display: flex;
        align-items: center;
        flex-direction: column;

        .title {
            font-weight: normal;
            font-size: 1.6em;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 50px;
            color: #fff;
        }

        .printer {
            width: 90%;
            height: 20px;
            border: 5px solid #fff;
            border-radius: 10px;
            box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
        }
    }

    .receipts_wrapper {
        overflow: hidden;
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .receipts {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateY(-510px);

        animation-duration: 2.5s;
        animation-delay: 500ms;
        animation-name: print;
        animation-fill-mode: forwards;


        .receipt {
            padding: 25px 30px;
            text-align: left;
            min-height: 200px;
            width: 88%;
            background-color: #fff;
            border-radius: 10px 10px 20px 20px;
            box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);

            .airliner-logo {
                max-width: 80px;
            }

            .route {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 30px 0;

                .plane-icon {
                    width: 30px;
                    height: 30px;
                    transform: rotate(90deg);
                }

                /* h2 {
                    font-weight: 300;
                    font-size: 2.2em;
                    margin: 0;
                } */
            }

            .details {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .item {
                    display: flex;
                    flex-direction: column;
                    min-width: 70px;
                }
            }

            &.qr_code {
                height: 200px;
                min-height: unset;
                position: relative;
                border-radius: 20px 20px 10px 10px;
                display: flex;
                align-items: center;

                .qr {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

@keyframes print {
    0% {
        transform: translateY(-510px)
    }

    35% {
        transform: translateY(-395px);
    }

    70% {
        transform: translateY(-140px);
    }

    100% {
        transform: translateY(0);
    }
}